@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body {
    margin: 0;
}
* {
   font-family: Raleway;
   box-sizing: border-box; 
}
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    color: white;
    height: 50px;
    padding: 1rem;
    background: linear-gradient(to left, #f46b45, #eea849);
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}
.menu-button-container {
     display:none;
     height: 100%;
     width: 30px;
     cursor: pointer;
     flex-direction: column;
     justify-content: center;
     align-items: center;

}
#menu-toggle {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after{
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    border-radius: 2px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.320, 1);
}
.menu-button::before{
    content: '';
    margin-top: -8px;
}
.menu-button::after{
    content: '';
    margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
}

@media (max-width: 768px) {
    .menu-button-container {
     display: flex; 
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}