*, *:before, *:after {
    box-sizing: border-box;
}
body {
    margin: 40px;
    font-family: 'Open Sans', 'sans-serif';
    color: rgb(119, 57, 57);
}
.wrapper {
    max-width: 1200px;
    margin: 0 20px;
    display: grid;
    gap: 10px;
}
.wrapper > * {
    background-color: #554d4d;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 150%;
}
h1, p {
    margin: 0 0 1em 0;
}
@media (min-width:900px) {
    .wrapper {
        margin: 0 auto;
        grid-template-columns: 1fr 3fr;
    }
    .header, .footer {
        grid-column: 1 /-1;
    }
}