@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap);
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: Poppins;
    background: #ecf0f3;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    place-items: center;
    overflow: hidden;
}
.container {
    width: 350px;
    height: 500px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1,
        -14px -14px 20px white;
        border-radius: 20px;
}
.brand-logo {
    height: 100px;
    width: 100px;
    background: url("https://img.icons8.com/color/100/000000/twitter--v2.png");
    margin: auto;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 7px 7px 10px #cbced1,
        -7px -7px 10px white;
}
.brand-title {
    margin-top: 15px;
    font-size: 1.8rem;
    color: #1da1f2;
    font-weight: 900;
    letter-spacing: 1px;
}
.inputs {
    margin-top: 30px;
    text-align: left;
}
label, input, button {
    display: block;
    border: none;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}
input {
    padding: 10px;
    padding-left: 20px;
    height: 45px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1,
    inset -6px -6px 6px white;
}
label {
    margin-bottom: 5px;
}
label:nth-of-type(2) {
    margin-top: 25px;
}  
input::placeholder {
    color: gray;
}
button {
    background: #1da1f2;
    height: 40px;
    border-radius: 20px;
    margin-top: 20px;
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
    box-shadow: 6px 6px 6px #cbced1,
    -6px -6px 6px white;
    cursor: pointer;
    transition: 0.5s;
}
button:hover {
    box-shadow: none;
}
input {
    caret-color: #1da1f2;
}